// Resets, Clearfix, etc
@import "./partials/reset.scss";
@import "./partials/Clearfix.scss";
@import "./partials/variables.scss";

// Media Query Ranges


// Mixins
@mixin block_font($block_font_size: 25px, $block_font_color: $dark){
  font-size: $global_bright;
  color: $block_font_color;
}

// Styles

body{
  background-color: red;
  text-align: center;
  color: #EEE;
}

h1, h2, h3, h4{
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
}

h1{
  padding: 20px;
}

h2{

}

.block_family{
  max-width:350px;
  margin:auto;
}

.block_family li{
  background-color: #222;
  margin-bottom: 20px;
  padding: 20px;
}



@media only screen and (min-width: 400px) {
    body {
        background-color: $global_bright;
    }
}

@media only screen and (min-width: 600px) {
    body {
        background-color: $global_light;
    }
}

@media only screen and (min-width: 900px) {
    body {
        background-color: $global_dark;
    }
}
